body{
    margin: 0;
    background-color: rgb(205, 235, 255);
}
nav{
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);  
    padding: 1px;
}
ul{
    display: flex;
    justify-content: space-around;
    width: 80%;
    padding-right: 70%;
}
a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: rgb(80, 80, 80);
    text-decoration: none;
}
nav a:hover{
    border: 16px;
    border-radius: 5px;
    background-color: rgb(81, 81, 81);
    color: white;
    transition-duration: 0.5s;
}

.about_me{
    font-size: large;
    padding: 30px 12%;
    padding-right: 50%;
}